<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="page-header">
      <p class="lead">Robostats. Mind your drones.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form {{action 'save' on='submit'}} id="user-signup-form" class="form-horizontal">
          <fieldset>
            <legend>Signup</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Email</label>

              <div class="col-lg-9">
                <div class="form-control-wrapper">
                    {{input type="email" value=email name="email" class="form-control empty"}}
                  <span class="material-input"></span></div>
                <p class="help-block error-message">{{errorMessages.Email}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">Password</label>

              <div class="col-lg-9">
                <div class="form-control-wrapper">
                    {{input type="password" name="password" value=password placeholder="Password" class="form-control empty" id="password"}}
                  <span class="material-input"></span></div>
                <p class="help-block error-message">{{errorMessages.Contrasena}}</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Confirm password</label>

              <div class="col-lg-9">
                <div class="form-control-wrapper">
                    {{input type="password" name="passwordConfirmation" value=passwordConfirmation placeholder="Confirm your password" class="form-control empty"}}
                  <span class="material-input"></span></div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-1">
                <button type="submit" class="btn btn-success">Create my account</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

